* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.table,
input[type="submit"] {
  width: 825px;
}

.list-group {
  width: 285px;
  height: 408px;
  padding: 0 15px;
}

#titles{
  color: #0d6efd;
  cursor: pointer;
}

#titles:hover{
  text-decoration: underline;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tablee {
  width: 825px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  text-decoration: none;
}

th {
  width: auto;
}

.material-symbols-outlined {
  cursor: pointer;

}

.toggle {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
} 

input[type="text"]{
  width: 1100px;
} 

.titleTh,
.genreTh,
.stockTh,
.rateTh{
  cursor: pointer;
}

.newMoviBtn{
  width: 120px;
}

.hide{
  display: none;
}