*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  gap: 40px;

}

.table, input[type="submit"]{
  width: 825px;
}

.list-group{
  width: 285px;
  height: 408px;
  padding: 0 15px;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tablee{
  width: 825px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a{
  text-decoration: none;
}

th{
  width: auto;
}
